@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  /* background-image: url("assets/annie-spratt-xTaOPMa6wAE-unsplash.jpg"); */
  background-size: cover;
  font-family: "Lilita One", serif;
  background-color: #e0cab4;
}

.main-title {
  font-size: 2.7em;
  text-shadow: 5px 2px 5px rgba(11, 11, 11, 0.947);
  color: #eb4f07;
  letter-spacing: 0.1em;
}
