@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

.container {
  min-height: 30vh;
  min-width: 60vw;
  padding: 30px;
  border: 4px solid #ff5959;
  background-color: #ebcbae;
}

.icons {
  display: flex;
  justify-content: space-around;
}

.labels {
  display: flex;
  justify-content: space-around;
}

.icon {
  background-color: #fff;
  border: 4px solid #000000;
  height: 140px;
  width: 140px;
  background-size: contain;
  padding: 10px;
  margin: 10px;
}

.rock {
  background-image: url("./img/fist.png");
}
.paper {
  background-image: url("./img/hello.png");
}
.scissors {
  background-image: url("./img/scissor.png");
}
